In [1]:
# Getting started with the excercise

In [2]:
#  <!-- Import the necessary libraries -->
import pandas as pd
import numpy as np

In [3]:
#  Import the dataset from this address.
url =("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
df = pd.read_csv(url, sep="\t")

In [4]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
# How many products cost more than $10.00?
# df.info()
# df.item_price.dtype
# a = lambda x : float(x:[1,-1])
# df.item_price =a
# df.dtypes

a = lambda x: float(x[1:-1])
df.item_price = a
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [22]:
a= df.item_name.value_counts().values('Veggie Burrito')
a
# e=df[df.item_name == "Veggie Burrito"]
# len(e)
# e

TypeError: 'numpy.ndarray' object is not callable